# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
#import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (Á•ûÊ•ΩÂùÇË¶ö„ÄÖ)',
 'script-8']
 ```

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
html = requests.get(url)
soup = BeautifulSoup(html.content, 'html.parser')

In [50]:
name = soup.find_all('div', class_="col-md-6")
name[0]

<div class="col-md-6">
<h1 class="h3 lh-condensed">
<a data-hydro-click='{"event_type":"explore.click","payload":{"click_context":"TRENDING_DEVELOPERS_PAGE","click_target":"OWNER","click_visual_representation":"TRENDING_DEVELOPER","actor_id":null,"record_id":21002501,"originating_url":"https://github.com/trending/developers","user_id":null}}' data-hydro-click-hmac="21e8ab4014e1cd1d6cb89ad9f2e71148ce8a868d2bf8c3031de3476fcc9da665" data-view-component="true" href="/an-tao">
            An Tao
</a> </h1>
<p class="f4 text-normal mb-1">
<a class="Link--secondary" data-hydro-click='{"event_type":"explore.click","payload":{"click_context":"TRENDING_DEVELOPERS_PAGE","click_target":"OWNER","click_visual_representation":"TRENDING_DEVELOPER","actor_id":null,"record_id":21002501,"originating_url":"https://github.com/trending/developers","user_id":null}}' data-hydro-click-hmac="21e8ab4014e1cd1d6cb89ad9f2e71148ce8a868d2bf8c3031de3476fcc9da665" data-view-component="true" href="/an-tao">
              an-tao
</a> </p>
</div>

In [51]:
name = soup.select('.col-md-6')

In [44]:
name[0].text.strip('\n').strip()

'An Tao\n \n\n\n              an-tao'

In [45]:
name[0].select('a')[0].text.strip() + ' ' + '('+name[0].select('a')[1].text.strip()+')'

'An Tao (an-tao)'

In [46]:
def pidonombre(name):
    return name.select('a')[0].text.strip() + ' ' + '('+name.select('a')[1].text.strip()+')'

In [47]:
names = []
for i in range(0,50,2):
    names.append(pidonombre(name[i]))
names

['An Tao (an-tao)',
 'Mr.doob (mrdoob)',
 'Josh Bleecher Snyder (josharian)',
 'Chris Banes (chrisbanes)',
 'Kyle Mathews (KyleAMathews)',
 'Minko Gechev (mgechev)',
 'Tobias Koppers (sokra)',
 '·¥ú…¥·¥ã…¥·¥°·¥è…¥ (unknwon)',
 'Alex Goodman (wagoodman)',
 'Leo Farias (leoafarias)',
 'Gleb Bahmutov (bahmutov)',
 'Ross Wightman (rwightman)',
 'Robert Mosolgo (rmosolgo)',
 'Puru Vijay (PuruVJ)',
 'Olivier Halligon (AliSoftware)',
 'K√©vin Dunglas (dunglas)',
 'Earle F. Philhower, III (earlephilhower)',
 'Greg Berg√© (gregberge)',
 'Fatih Arslan (fatih)',
 'Jeremy Tuloup (jtpio)',
 'Felix Angelov (felangel)',
 'Paul Razvan Berg (paulrberg)',
 'David Khourshid (davidkpiano)',
 'hiroki osame (privatenumber)',
 'Trask Stalnaker (trask)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [151]:
# This is the url you will scrape in this exercise
url_repo_py = 'https://github.com/trending/python?since=daily'
html = requests.get(url_repo_py)
soup = BeautifulSoup(html.content, 'html.parser')

repo_py = soup.find_all('h1', class_="h3 lh-condensed")   #1¬∫ Opci√≥n

repo_py[0].find('span', {"class":"text-normal"}).text.strip()

'chip-red-pill /'

In [126]:
len(repo_py)

25

In [152]:
repo = soup.select ('h1 a span')   #2¬∫ Opci√≥n 
len(repo)

25

In [145]:
repo[0].text.strip()

'chip-red-pill /'

In [156]:
repos = [rep.text.strip().split('/')[0].strip() for rep in repo]
repos

['chip-red-pill',
 'rbignon',
 'yuval-alaluf',
 'TheAlgorithms',
 'rwightman',
 'Chia-Network',
 'jackfrued',
 'pandas-dev',
 'WongKinYiu',
 'twintproject',
 'matrix-org',
 'beurtschipper',
 'plotly',
 'facebookresearch',
 'ddbourgin',
 'alfonsrv',
 'scikit-learn',
 'mirumee',
 'googleapis',
 'PyTorchLightning',
 'dgtlmoon',
 'apache',
 'python-poetry',
 'google-research',
 'pypa']

#### Display all the image links from Walt Disney wikipedia page

In [113]:
# This is the url you will scrape in this exercise
url_disney = 'https://en.wikipedia.org/wiki/Walt_Disney'
html = requests.get(url_disney)
soup3 = BeautifulSoup(html.content, 'html.parser')

In [119]:
disney_href = soup3.select('a.image')
disney_href[0]

<a class="image" href="/wiki/File:Walt_Disney_1946.JPG"><img alt="Walt Disney 1946.JPG" data-file-height="675" data-file-width="450" decoding="async" height="330" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/330px-Walt_Disney_1946.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/440px-Walt_Disney_1946.JPG 2x" width="220"/></a>

In [124]:
disney_alt = soup3.select('a.image img')
len(disney_alt), len(disney_href)

(23, 23)

In [122]:
disney_href[0]  #  en el href est√° el 'alt'

<a class="image" href="/wiki/File:Walt_Disney_1946.JPG"><img alt="Walt Disney 1946.JPG" data-file-height="675" data-file-width="450" decoding="async" height="330" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/330px-Walt_Disney_1946.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/440px-Walt_Disney_1946.JPG 2x" width="220"/></a>

In [125]:
disney_href[20].attrs  #Quiero el link de la imagen

{'href': '/wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 'class': ['image']}

In [126]:
disney_alt[20].attrs #quiero el nombre de la imagen

{'alt': 'Flag of Los Angeles County, California.svg',
 'src': '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'decoding': 'async',
 'width': '30',
 'height': '18',
 'srcset': '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/45px-Flag_of_Los_Angeles_County%2C_California.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/60px-Flag_of_Los_Angeles_County%2C_California.svg.png 2x',
 'data-file-width': '1522',
 'data-file-height': '913'}

In [127]:
disney_href[20].get('href')

'/wiki/File:Flag_of_Los_Angeles_County,_California.svg'

In [128]:
lista_dis_href = [href.get('href') for href in disney_href]

In [129]:
lista_dis_alt = [ alt.get('alt') for alt in disney_alt]

In [130]:
len(lista_dis_alt),len(lista_dis_href)

(23, 23)

In [131]:
result = list(zip(lista_dis_alt, lista_dis_href))
result[:2]

[('Walt Disney 1946.JPG', '/wiki/File:Walt_Disney_1946.JPG'),
 ('Walt Disney 1942 signature.svg',
  '/wiki/File:Walt_Disney_1942_signature.svg')]

In [132]:
df_img_disney = pd.DataFrame(result)
df_img_disney.head(5)

,0,1
0,Walt Disney 1946.JPG,/wiki/File:Walt_Disney_1946.JPG
1,Walt Disney 1942 signature.svg,/wiki/File:Walt_Disney_1942_signature.svg
2,,/wiki/File:Walt_Disney_envelope_ca._1921.jpg
3,A cartoon rabbit is driving a tramcar; other c...,/wiki/File:Trolley_Troubles_poster.jpg
4,A cartoon mouse is operating a ship's steering...,/wiki/File:Steamboat-willie.jpg

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [282]:
# This is the url you will scrape in this exercise
url_py ='https://en.wikipedia.org/wiki/Python' 
html = requests.get(url_py)
soup = BeautifulSoup(html.content, 'html.parser')

In [324]:
wiki_py = soup.select('li a')
wiki_py[15].get('href')

'/wiki/Python_of_Catana'

In [341]:
enlaces_py = [href['href'] for href in wiki_py if 'python' in href['href'].lower()]
enlaces_py[:5]

['/wiki/Pythons',
 '/wiki/Python_(genus)',
 '/wiki/Python_(programming_language)',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)']

In [348]:
url_py_full = 'https://en.wikipedia.org/'
enlaces_py_full = [url_py_full+link for link in enlaces_py]
enlaces_py_full[:5]   #Ahora podemos coger cualquier url que nos interese y si funciona ü§üü§ü

['https://en.wikipedia.org//wiki/Pythons',
 'https://en.wikipedia.org//wiki/Python_(genus)',
 'https://en.wikipedia.org//wiki/Python_(programming_language)',
 'https://en.wikipedia.org//wiki/Python_of_Aenus',
 'https://en.wikipedia.org//wiki/Python_(painter)']

#### Number of Titles that have changed in the United States Code since its last release point

In [349]:
# This is the url you will scrape in this exercise
url_USA = 'http://uscode.house.gov/download/download.shtml'
html = requests.get(url_USA)
soup = BeautifulSoup(html.content, 'html.parser')

In [357]:
titles_changes = soup.find_all('div', {"class":"usctitlechanged"})
titles_changes[0].text

'\n\n          Title 10 - Armed Forces Ÿ≠\n'

In [365]:
titles_changes_strong = [title.text.strip() for title in titles_changes]
titles_changes_strong

['Title 10 - Armed Forces Ÿ≠']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [2]:
# This is the url you will scrape in this exercise
url_earth = 'https://www.emsc-csem.org/Earthquake/'
html = requests.get(url_earth)
soup = BeautifulSoup(html.content, 'html.parser')

In [4]:
dates = soup.find_all('td', {'class':'tabev6'})#[1].find('a').text
dates[0]

In [5]:
date = [dat.find('a').text[0:10] for dat in dates ]
date[:3]

['2021-05-25', '2021-05-25', '2021-05-25']

In [6]:
time = [tim.find('a').text[-10:] for tim in dates]
time[:3]

['08:42:20.2', '08:39:59.0', '08:17:10.9']

In [7]:
lat = soup.find_all('td',{'class':'tabev1'})
N_o_S_ =soup.find_all('td', {'class':'tabev2'})
print(lat[:2]), print(N_o_S_[:2])

[<td class="tabev1">32.75¬†</td>, <td class="tabev1">115.82¬†</td>]
[<td class="tabev2">N¬†¬†</td>, <td class="tabev2">W¬†¬†</td>]

(None, None)

In [8]:
latitude = [lati.text[:-1] for lati in lat]
N_o_S = [i.text[0] for i in N_o_S_]
print(latitude[:2]), print(N_o_S[:2])

['32.75', '115.82']
['N', 'W']

(None, None)

In [9]:
latitu = []
for lt in range(0,100,2):
    latitu.append([latitude[lt], latitude[lt+1]])
len(latitu)

50

In [19]:
latitu[:7]

[['32.75', '115.82'],
 ['31.78', '69.99'],
 ['19.36', '155.00'],
 ['38.81', '122.82'],
 ['38.52', '29.59'],
 ['2.41', '99.24'],
 ['19.20', '155.44']]

In [15]:
nor_sur = []
for ns in range(0,100,2):
    nor_sur.append([N_o_S[ns], N_o_S[ns+1]])
len(nor_sur)

50

In [18]:
nor_sur[:7]

[['N', 'W'],
 ['2', 'S'],
 ['W', '2'],
 ['N', 'W'],
 ['2', 'N'],
 ['W', '2'],
 ['N', 'E']]

In [20]:
region = soup.find_all('td', {'class':'tb_region'})
region[0]

In [21]:
region_name = [city.text[1:] for city in region ]
region_name[:2]

['SOUTHERN CALIFORNIA', 'SAN JUAN, ARGENTINA']

In [26]:
latitude[1]

'115.82'

In [46]:
lat_ = [l[0] for l in latitu]
lon_ = [l[1] for l in latitu]
NS_lat = str([ns[0] for ns in nor_sur])
NS_lon = str([ns[1] for ns in nor_sur])

In [42]:
str(NS_lat)

"['N', '2', 'W', 'N', '2', 'W', 'N', '2', 'E', 'N', '2', 'E', 'N', '2', 'E', 'N', '2', 'W', 'N', '2', 'E', 'S', '3', 'E', 'N', '2', 'W', 'N', '2', 'W', 'N', '2', 'W', 'N', '2', 'E', 'N', '2', 'W', 'S', '2', 'W', 'N', '2', 'W', 'N', '2', 'W', 'N', '2']"

In [61]:
latitude_ = [l+ '' + ns for l in lat_ for ns in NS_lat]

In [62]:
latitude_[:10]   #Lo he intentado de unas cuantas formas pero no me ha salido, 
                 #seguro que es algo facil√≥n que no puedo, pero si lo llegas a ver me lo dices porfi

['32.75[',
 "32.75'",
 '32.75N',
 "32.75'",
 '32.75,',
 '32.75 ',
 "32.75'",
 '32.752',
 "32.75'",
 '32.75,']

In [65]:
len(date), len(time), len(region), len(lat_), len(lon_)

(50, 50, 50, 50, 50)

In [72]:
Earthquake = {'Date': date, 'Time': time, 'Latitude': lat_, 'longitude': lon_, 'Region': region_name}

In [73]:
df = pd.DataFrame(Earthquake)
df.head()

         Date        Time Latitude longitude                    Region
0  2021-05-25  08:42:20.2    32.75    115.82       SOUTHERN CALIFORNIA
1  2021-05-25  08:39:59.0    31.78     69.99       SAN JUAN, ARGENTINA
2  2021-05-25  08:17:10.9    19.36    155.00  ISLAND OF HAWAII, HAWAII
3  2021-05-25  08:14:29.1    38.81    122.82       NORTHERN CALIFORNIA
4  2021-05-25  08:10:47.7    38.52     29.59            WESTERN TURKEY

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
url_hack = 'https://hackevents.co/search/anything/anywhere/anytime'

*me sale este tipo de informaci√≥n en ambas urls que me hace desconfiar*

La conexi√≥n no es privada
Es posible que los atacantes est√©n intentando robar tu informaci√≥n de hackevents.co (por ejemplo, contrase√±as, mensajes o tarjetas de cr√©dito). M√°s informaci√≥n
NET::ERR_CERT_COMMON_NAME_INVALID

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [158]:
# This is the url you will scrape in this exercise
url_list = 'https://www.wikipedia.org/'
html = requests.get(url_list)
soup = BeautifulSoup(html.content, 'html.parser')

In [160]:
wiki_language = soup.find_all('a', {'class': 'link-box'})
wiki_language[0]

<a class="link-box" data-slogan="The Free Encyclopedia" href="//en.wikipedia.org/" id="js-link-box-en" title="English ‚Äî Wikipedia ‚Äî The Free Encyclopedia">
<strong>English</strong>
<small><bdi dir="ltr">6¬†299¬†000+</bdi> <span>articles</span></small>
</a>

In [166]:
wiki_language[0].find('strong').text

'English'

In [171]:
wiki_language[0].find('bdi')

In [175]:
wiki_language[0].find('bdi').text

'6\xa0299\xa0000+'

In [176]:
language_wiki = [lan.find('strong').text for lan in wiki_language]
language_wiki

['English',
 'Êó•Êú¨Ë™û',
 'Espa√±ol',
 'Deutsch',
 '–†—É—Å—Å–∫–∏–π',
 'Fran√ßais',
 'Italiano',
 '‰∏≠Êñá',
 'Portugu√™s',
 'Polski']

In [193]:
number_lan_wiki = [num.find('bdi').text for num in wiki_language]
number_lan_wiki[:5]

['6\xa0299\xa0000+',
 '1\xa0268\xa0000+',
 '1\xa0684\xa0000+',
 '2\xa0576\xa0000+',
 '1\xa0724\xa0000+']

In [192]:
number_wiki_lan = [num[0]+num[2:5]+num[6:10] for num in number_lan_wiki]
number_wiki_lan[:5]

['6299000+', '1268000+', '1684000+', '2576000+', '1724000+']

In [200]:
wiki_number_languages = list(zip(language_wiki, number_wiki_lan))
wiki_number_languages

[('English', '6299000+'),
 ('Êó•Êú¨Ë™û', '1268000+'),
 ('Espa√±ol', '1684000+'),
 ('Deutsch', '2576000+'),
 ('–†—É—Å—Å–∫–∏–π', '1724000+'),
 ('Fran√ßais', '2329000+'),
 ('Italiano', '1693000+'),
 ('‰∏≠Êñá', '1197000+'),
 ('Portugu√™s', '1066000+'),
 ('Polski', '1473000+')]

#### A list with the different kind of datasets available in data.gov.uk

In [74]:
# This is the url you will scrape in this exercise
url_uk = 'https://data.gov.uk/'
html = requests.get(url_uk)
soup = BeautifulSoup(html.content, 'html.parser')

In [151]:
data_uk = soup.find_all('a', {'class':"govuk-link"})#[5].get('href')
data_uk[:5]

[<a class="govuk-link" href="/cookies">cookies to collect information</a>,
 <a class="govuk-link" href="/cookies">View cookies</a>,
 <a class="govuk-link" data-module="gem-track-click" data-track-action="Cookie banner settings clicked from confirmation" data-track-category="cookieBanner" href="/cookies">change your cookie settings</a>,
 <a class="govuk-link" href="http://www.smartsurvey.co.uk/s/3SEXD/">feedback</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Business+and+economy">Business and economy</a>]

In [156]:
uk_url = 'https://data.gov.uk/'
data_uk_link = [uk_url+href.get('href') for href in data_uk]
data_uk_link[:7]

['https://data.gov.uk//cookies',
 'https://data.gov.uk//cookies',
 'https://data.gov.uk//cookies',
 'https://data.gov.uk/http://www.smartsurvey.co.uk/s/3SEXD/',
 'https://data.gov.uk//search?filters%5Btopic%5D=Business+and+economy',
 'https://data.gov.uk//search?filters%5Btopic%5D=Crime+and+justice',
 'https://data.gov.uk//search?filters%5Btopic%5D=Defence']

In [153]:
data_uk_text = [content.text for content in data_uk]
data_uk_text[:7]

['cookies to collect information',
 'View cookies',
 'change your cookie settings',
 'feedback',
 'Business and economy',
 'Crime and justice',
 'Defence']

In [157]:
uk_data = {'title': data_uk_text[4:], 'data_link': data_uk_link[4:]}
df = pd.DataFrame(uk_data)
df.head()

                  title                                          data_link
0  Business and economy  https://data.gov.uk//search?filters%5Btopic%5D...
1     Crime and justice  https://data.gov.uk//search?filters%5Btopic%5D...
2               Defence  https://data.gov.uk//search?filters%5Btopic%5D...
3             Education  https://data.gov.uk//search?filters%5Btopic%5D...
4           Environment  https://data.gov.uk//search?filters%5Btopic%5D...

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [133]:
# This is the url you will scrape in this exercise
url_languages = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
html= requests.get(url_languages)
soup= BeautifulSoup(html.content, 'html.parser')

In [149]:
top = soup.find_all("table")
#top[3]   ES LA TABLA TOP LANGUAGES  que vamos buscando

In [195]:
top_ = top[3]
top_.find_all('a')[1].text

'Spanish'

In [234]:
top_languages = []
for f in top_.find_all('tr'):
    fila = [celda for celda in f.find_all('td')]
    if len(fila) > 0:
        top_lan = fila[1].find('a')
        
        top_languages.append(top_lan)

In [236]:
b = top_languages[:11]
b[0].text

'Mandarin'

In [240]:
c = [top.text for top in b]
d ={'top_languages': c}
top_languages = pd.DataFrame(d)
top_languages

   top_languages
0       Mandarin
1        Spanish
2        English
3          Hindi
4         Arabic
5     Portuguese
6        Bengali
7        Russian
8       Japanese
9        Punjabi
10        German

### BONUS QUESTIONS

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [241]:
# This is the url you will scrape in this exercise 
url_IMDB = 'https://www.imdb.com/chart/top'
html = requests.get(url_IMDB)
soup= BeautifulSoup(html.content, 'html.parser')

In [285]:
movie_name = soup.find_all('td', {'class':'titleColumn'})
movie_name[204].text.strip()[4:].strip()[:-6].strip()

'C√≥mo entrenar a tu drag√≥n'

In [286]:
name = [name.text.strip()[4:].strip()[:-6].strip() for name in movie_name]
name[:5], len(name)

(['Cadena perpetua',
  'El padrino',
  'El padrino: Parte II',
  'El caballero oscuro',
  '12 hombres sin piedad'],
 250)

In [292]:
movie_year = soup.find_all('td', {'class':'titleColumn'})
movie_year[204].text.strip()[-6:]#.strip()[:-6].strip()

'(2010)'

In [311]:
initial_release = [year.text.strip()[-6:] for year in movie_year]
initial_release[:5], len(initial_release)

(['(1994)', '(1972)', '(1974)', '(2008)', '(1957)'], 250)

In [318]:
director = soup.find_all('td', {'class':'titleColumn'})
director[204].find('a').get('title')

'Dean DeBlois (dir.), Jay Baruchel, Gerard Butler'

In [312]:
movie_director = [direc.find('a').get('title') for direc in director]
movie_director[:5], len(movie_director)

(['Frank Darabont (dir.), Tim Robbins, Morgan Freeman',
  'Francis Ford Coppola (dir.), Marlon Brando, Al Pacino',
  'Francis Ford Coppola (dir.), Al Pacino, Robert De Niro',
  'Christopher Nolan (dir.), Christian Bale, Heath Ledger',
  'Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb'],
 250)

In [317]:
stars = soup.find_all('td', {'class':'ratingColumn imdbRating'})
director[204].text.strip()

'8.1'

In [320]:
movie_stars = [rating.text.strip() for rating in stars]
movie_stars[:5]

['9.2', '9.1', '9.0', '9.0', '8.9']

In [322]:
dic = {'movie_name':name, 'year':initial_release, 'director':movie_director, 'stars':movie_stars}
df = pd.DataFrame(dic)
df

,movie_name,year,director,stars
0,Cadena perpetua,(1994),"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.2
1,El padrino,(1972),"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.1
2,El padrino: Parte II,(1974),"Francis Ford Coppola (dir.), Al Pacino, Robert...",9.0
3,El caballero oscuro,(2008),"Christopher Nolan (dir.), Christian Bale, Heat...",9.0
4,12 hombres sin piedad,(1957),"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.9
...,...,...,...,...
245,La princesa prometida,(1987),"Rob Reiner (dir.), Cary Elwes, Mandy Patinkin",8.0
246,Amanecer,(1927),"F.W. Murnau (dir.), George O'Brien, Janet Gaynor",8.0
247,Drishyam,(2013),"Jeethu Joseph (dir.), Mohanlal, Meena",8.0
248,Neon Genesis Evangelion: The End of Evangelion,(1997),"Hideaki Anno (dir.), Megumi Ogata, Megumi Haya...",8.0
249,El hombre que mat√≥ a Liberty Valance,(1962),"John Ford (dir.), James Stewart, John Wayne",8.0